<div class="modal-header">
	<h3 class="modal-title">Are you absolutely sure?</h3>
</div>
<div class="modal-body">
	<p class="bg-warning">This action <b>CANNOT</b> be undone. This will permanently delete the project: "<b>{{deleteProject.name}}</b>" <i>forever!</i><br><br>
	<b>Please type in the name of the project to confirm.</b></p>
	<input type="text" class="form-control" ng-model="attempt.name">
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-danger" ng-click="removeProject(deleteProject._id)" ng-disabled="!deleteMatch()"><b>Delete</b>
	</button>
	<button class="btn btn-warning" ng-click="cancel()"><b>Cancel<b></button>
	<!--
	<button class="btn btn-danger" ng-click="test()">test</button>
	<button class="btn btn-danger" ng-click="switch()">switch</button>
	-->
</div>
