<div class = "project_List">

	<li ng-repeat = "project in projects">

	<div class = "well" >
		<h3 ng-click="viewProject(project._id)" style="cursor:pointer">{{project.name}}</h3>
		<div ng-repeat="tag in project.tags" >
			<div class="btn-group" style="float:left">
				<button type="button" class="btn btn-default btn-sm" style="float:left" ng-click="searchTag(tag)">
					{{tag}}  
				</button>
				<button type="button" class="btn btn-default btn-sm" style="float:left" ng-click="deleteProjectTag(project._id, tag)" ng-show="isOnUserPage">
					<i class="glyphicon glyphicon-remove"></i>
				</button>
			</div>
		</div>
		<button type="button" class="btn btn-default btn-sm" style="float:left" ng-click="showAddTag(project._id)" ng-show="isOnUserPage">
			<i class="glyphicon glyphicon-plus"></i>
			Add tag...
		</button>
		<!--<button type="button" class="btn btn-default btn-sm" style="float:right" ng-click="deleteProjectPopUp(project)" ng-show="isOnUserPage">-->
		<button class="btn btn-default btn-sm" style="float:right" ng-click="deleteProjectPopUp(project); open()" ng-show="isOnUserPage">
			<i class="glyphicon glyphicon-trash"></i>
		</button>
		<p>
		<br><br>
		{{project.description}} 
		</p> 
	</div>
	</li>
</div>
