
<div ng-include="'components/navbar/navbar.html'"></div>
<div class= "u-container">
	<div class = "u-sidebar">
		<div class = "userInfo">
			<div class = "profile-picture">
				<img class= "logo" src="assets/images/logo.png" alt="">
			</div>
		</div>
		<div  class = "buttonList">	
			<ul class = "bList">
				
				<li ng-hide= "show" class = "userOptions showTrack" ng-click = "showtracks()" >
                    <button type="button" class="btn btn-default">
					Show Tracks
                    </button>
				</li>
				<li ng-show = "show"  class = "userOptions hideTrack" ng-click = "showtracks()" >
                    <button type="button" class="btn btn-default">
					Hide Tracks
                    </button>
				</li>
				
				<li class = "userOptions" ng-click = "uploadTrack()">
                    <button type="button" class="btn btn-default">
					Upload Track
                    </button>
				</li>

				<li class = "userOptions"  ng-click = "showProjectView()">
                    <button type="button" class="btn btn-default">
					Show Projects
                    </button>
				</li>



			</ul>
		</div>
	</div>
	<div class="u-content">
		<div class = "banner">
			<span  class= "message">
				<h2>{{currentProject.name }}</h2>
				<h3>{{currentProject.description }} </h3>
				</span>

				<div class= "tracks" ng-include src="'app/account/user/templates/user.tracks.html'"></div>

			</div>
	</div>
</div>

<div class = "popUp" ng-show = "addTagPage">	
		<form class="form" name="form" ng-submit="addTag()" novalidate>
			<div class="newTag">
				<label for="Tags">Add space separated tags for this track:</label><input type="tags" id="tags" placeholder="tags" required="required" ng-model="track.tags"  />
                <button class="btn btn-inverse btn-sm" type="submit">
                    Add
                </button>
			</div>
  		</form>
		<button ng-click="Close()" class="closeButton button">Close</button>
</div>




<div class = "popUp" ng-show = "uploadTrackPage">
        <div class="modal-header">
		  <h3 class="modal-title" id="status">Please select a file to upload</h1>
        </div>
		
        
		<form class="form" name="form" ng-submit="submit()" novalidate>
			<div class="uploadLabel">
				<label for="Tags">Tags:</label><input type="tags" class="form-control" id="tags" placeholder="tags" required="required" ng-model="track.tags"  />
			</div>

            <div class="uploadLabel">
				<label for="Description">Description:</label><input type="description" class="form-control" id="description" placeholder="Briefly describe this track." required="required" ng-model="track.description" />
			</div>
  			</form>
           
           
            <div class="modal-footer">
		<input type="file" id="files"/>
		<button ng-click="s3_upload()">Upload me</button>
		<button ng-click="Close()" class="closeButton button">Close</button>
            </div>
        </div>

<div class = "popUp" ng-show = "createProjectPage" ng-include src="'app/account/user/templates/user.projects.create.html'"></div>


<!-- <div ng-show= "uploadPage" id="fade" class="black_overlay"></div>
 -->




