<div class = "track_list">
	
	<div id = "allControl" class = "controls" ng-show = "showplayall">
		<button class="btn btn-primary" ng-click="doAll('play')">
			<i class="glyphicon glyphicon-play"></i>
			Play All
		</button>
		<button class="btn btn-primary" ng-click="doAll('pause')">
			<i class="glyphicon glyphicon-pause"></i>
			Pause All
		</button>
		<button class="btn btn-primary" ng-click="doAll('stop')">
			<i class="glyphicon glyphicon-stop"></i>
			Stop All
		</button>
		<p>
		</div>

		<li ng-repeat ="track in projectservice.currProjectTracks">

	    <div class="well" style="padding-top:0px;padding-bottom:0px"> 
         	<!--div ng-repeat="tag in track.tags" >
	             <div class="btn-group" style="float:left">
	                <button type="button" class="btn btn-default btn-sm" style="float:left" ng-click="searchTag(tag)">
	                  {{tag}}  
	                </button>
	                <button type="button" class="btn btn-default btn-sm" style="float:left" ng-click="deleteTag(track._id, tag)" ng-show="isOnUserPage">
	                    <i class="glyphicon glyphicon-remove"></i>
	                </button>
	             </div>
            </div>

            <button type="button" class="btn btn-default btn-sm" style="float:left" ng-click="showAddTag(track._id)" ng-show="isOnUserPage">
                <i class="glyphicon glyphicon-plus"></i>
                  Add tag...
            </button>
                                                      
        	<p>
        	<br>
        	<br>
        	{{track.description}} 
        	</p-->
        	<div class="container-fluid">
	            <div class="row" style="padding-top:0em">
	            	<div class = "col-lg-2" style="vertical-align:middle">
	            		<h4> {{ track.name }} </h4> 
	            	</div>
	            	<div class ="col-lg-3">
						<div id = "controlling:{{track._id}}" class="track-controls" ng-show = "show">
							<p><p>
								<button class="btn btn-primary" data-action="play">
									<i class="glyphicon glyphicon-play"></i>
									/
									<i class="glyphicon glyphicon-pause"></i>
								</button>
								<button class="btn btn-primary" data-action="toggle-mute">
									<i class="glyphicon glyphicon-volume-off"></i>
								</button>
								<a href={{track.url}} download={{track.url}}>
									<button class="btn btn-primary">
										<i class="glyphicon glyphicon-download"></i>
									</button>
								</a>
						</div>
					</div>

	            	<div class="col-lg-7"> 
						<div class = "wavesurfers" ng-show = "show">
							<p class = "url" ng-hide = "true">{{track.url}}<p>
								<div id = "{{track._id}}" class="waveform" ng-show = "show">
								</div>
						</div>
					</div>
				</div>
			</div> 
        </div>
	</li>
</div>