
.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background-color: black;
}
.u-content{
	background-color: white;
	margin-left: 200px;
	padding-top:3.5em;
	display: grid;
	display: -moz-grid;
	width: 84%;
}
.banner{
	background-color: white;
	height: 40em;
	margin-left: 1em;
	.h1{
		font-size: 50px;
	}
}
.u-container:after {
    clear: both;
}
.u-container:before, .u-container:after {
    content: " ";
    display: table;
}
*:before, *:after {
    box-sizing: border-box;
}
.u-container{
	width:100%;

}
.u-sidebar{
background-color: #FFF;
position: fixed;
top: 50px;
bottom: 0px;
width: 200px;
float: left;
z-index: 5;
border: 1px solid rgba(236, 234, 234, 1);
	.logo{
		width: 80%;
	}
	.userOptions{
		width: 100%;
		border-bottom:1px solid black;

	} 
	ul{
		padding-left: 0;
		li{
			text-align: center;
			padding-top: 1em;
			cursor: hand;
		}
		li:hover {
    	cursor: pointer;
		}
	}
}

.profile-picture{
	padding-top:3.5em;
}
.message{
	
	text-align:center;
}
.tracks{
	padding: 1em;
}
li{
	 list-style-type: none;
}

