<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Sign up</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,'has-error': form.name.$invalid && submitted }">
          <label>Username</label>

          <input type="text" name="username" class="form-control" ng-model="user.username" mongoose-error/>
          <!--<input type="text" name="username" class="form-control" ng-model="user.username"
                 ng-minlength="1"
                 ng-maxlength="39"
                 ng-pattern="/^[a-zA-Z0-9_.-]*$/"
                 required
                 mongoose-error/>-->

          <p class="help-block" ng-show="form.username.$error.required && submitted">
            A name is required.
          </p>
            <p class="help-block" ng-show="form.username.$error.maxlength && submitted">
            Username must be under 39 characters. 
          </p>
            <p class="help-block" ng-show="form.username.$error.pattern && submitted">
            Username can only contain letters, numbers, underscores and dashes.
          </p>
        <p class="help-block" ng-show="form.username.$error.mongoose">
            {{ errors.username }}
          </p>
        </div>


        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label>Password</label>

        <input type="password" name="password" class="form-control" ng-model="user.password" mongoose-error/>
          <!-- <input type="password" name="password" class="form-control" ng-model="user.password"
                 ng-minlength="5"
                 ng-maxlength="39"
                 required
                 mongoose-error/> -->
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
            Password must be at least 5 characters.
          </p>
          <p class="help-block"
             ng-show="form.password.$error.maxlength && submitted">
            Password must be under 39 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Sign up
          </button>
          <a class="btn btn-default btn-lg btn-register" href="/login">
            Login
          </a>
        </div>

        <hr>
        <div>
          <!--a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
            <i class="fa fa-facebook"></i> Connect with Facebook
          </a-->
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>
